
<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <ng-container *ngIf="mainArticle">
        <app-big-card 
            Id="{{mainArticle.id.toString()}}"
            photoCover="{{mainArticle.photo}}" 
            cardTitle="{{mainArticle.title}}" 
            cardDescription="{{mainArticle.description}}"
            >
        </app-big-card>
    </ng-container>
    </div>
    <div class="articles__others">
            
        <app-small-card  *ngFor="let article of articles" 
            
            Id="{{article.id.toString()}}" 
            cardTitle="{{article.title}}" 
            photoCover="{{article.photo}}">
        </app-small-card>
        
    </div>
</div>